<%= form_for(@institution) do |f| %>
  
  <% if @institution.errors.any? %>
    <div id="error_explanation">
      <h2><%=t 'activerecord.errors', :count => @institution.errors.count %>:</h2>
      <ul>
      <% @institution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:phone) %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit 'Crea ente' %>
  </div>
<% end %>
