<h1>Elenco enti</h1>

<table>
  <tr>
    <th><%=t :name %></th>
    <th><%=t :phone %></th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @institutions.each do |institution| %>
  <tr>
    <td><%= institution.name %></td>
    <td><%= institution.phone %></td>
    <td><%= institution.email %></td>
    <td><%= link_to t(:show), institution %></td>
    <td><%= link_to t(:edit), edit_institution_path(institution) %></td>
    <td><%= link_to t(:destroy), institution, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_model, :model => Institution.model_name.human), new_institution_path %>
