<p id="notice"><%= notice %></p>

<p>
  <b><%=t :name %>:</b>
  <%= @institution.name %>
</p>

<p>
  <b><%=t :phone %>:</b>
  <%= @institution.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @institution.email %>
</p>


<%= link_to t(:edit), edit_institution_path(@institution) %> |
<%= link_to t('model_index.institutions'), institutions_path %>
