<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @institution.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @institution.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @institution.email %>
</p>


<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
