<p id="notice"><%= notice %></p>
<div id="left_dashboard_column">
  <div class="div_interno" id="projects_by_institution">
    <h2>Progetti attivi</h2>
    <%= render 'projects/nextbyinstitution' %>
    <% if current_user.any_role? :super_admin, :admin %>
      <%= link_to t('model_index.projects'), projects_path %> |
      <%= link_to t('model_new.project'), new_project_path %>
    <% end %>
  </div>
</div>
<div id="right_dashboard_column">
  <% if current_user.any_role? :super_admin, :admin %>
    <div class="div_interno" id="latest_downloads">
      <h2>Ultimi 10 ordini</h2>
      <%= render 'orders/order_list' %>
      <%= link_to t('model_index.orders'), orders_path %>
    </div>
    <div class="div_interno" id="users_buttons">
      <%= link_to t('model_index.users'), users_path %> |
      <%= link_to t('model_new.user'), new_user_path %>
    </div>
    <div class="div_interno" id="institutions_buttons">
      <%= link_to t('model_index.institutions'), institutions_path %> |
      <%= link_to t('model_new.institution'), new_institution_path %>
    </div>
  <% else %>
    <div class="div_interno" id="user_cart">
      <h2>I tuoi acquisti</h2>
      <%= render :template => 'cart/index' %>
    </div>
    <div class="div_interno" id="user_orders">
      <h2>I tuoi ordini</h2>
      <%= render 'orders/user_orders' %>
    </div>
  <% end %>
</div>

