<div class="dashboard">
  <div class="projectsbyinstitution">
    <h2>Progetti attivi</h2>
    <%= render 'projects/nextbyinstitution' %>
    <%= link_to 'Elenco progetti', projects_path %> |
    <%= link_to 'Nuovo progetto', new_project_path %>
  </div>
  <div class="latestdownloads">
  </div>
  <div class="usersbuttons">
    <%= link_to 'Elenco utenti', users_path %> |
    <%= link_to 'Nuovo utente', new_user_path %>
  </div>
  <div class="institutionsbuttons">
    <%= link_to 'Elenco enti', institutions_path %> |
    <%= link_to 'Nuovo ente', new_institution_path %>
  </div>
</div>

