<% if @cart.empty? %>
    <p>Il tuo carrello è vuoto.</p>
<% else %>

  <% total = 0 %>
	
  <table class="cart">
      <tr>
          <td class="legend">Prodotto</td>
          <td class="legend">Prezzo</td>
          <td class="legend">Quantità</td>
          <td class="legend">Totale</td>
      </tr>

  <% @cart.each do | id, quantity | %>
      <% item = Tender.find_by_id(id) %>
      <tr>
          <td class="title"><%= item.name %></td>
          <td class="price"><%= number_to_currency(item.price, :unit => "€") %></td>
          <td class="quantity">
            <%= quantity %>
            <%= button_to '-', change_cart_path(:id => item, :quantity => (quantity - 1)) %>
            <%= button_to '+', change_cart_path(:id => item, :quantity => (quantity + 1)) %>
          </td>
          <td class="price"><%= number_to_currency((item.price * quantity), :unit => "€") %></td>
      </tr>
      <% total += item.price * quantity %>
  <% end %>

      <tr>
          <td colspan="3">
              <div class="total">Total:</div>
          </td>
          <td>
            <%= number_to_currency( total, :unit => "€" )%>
          </td>
      </tr>
  </table>
  <%= button_to 'Svuota il carrello', change_cart_path %>
  <%= button_to 'Procedi con ordine', orders_path %>
<% end %>  
