<!-- app/assets/templates/users/show.jst.ejs -->

<p>
  <b>Email:</b>
  <%= user.escape('email') %>
</p>

<p>
  <b>Ragione sociale:</b>
  <%= user.escape('ragionesociale') %>
</p>

<p>
  <b>Partita IVA:</b>
  <%= user.escape('partitaiva') %>
</p>

<p>
  <b>Telefono:</b>
  <%= user.escape('phone') %>
</p>

<p>
  <b>Città:</b>
  <%= user.escape('city') %>
</p>
