<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Ragione sociale:</b>
  <%= @user.ragionesociale %>
</p>

<p>
  <b>Partita IVA:</b>
  <%= @user.partitaiva %>
</p>

<p>
  <b>Telefono:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Città:</b>
  <%= @user.city %>
</p>

<% if current_user.any_role? :super_admin %>
  <p>
    <b>Roles:</b>
      <% @user.roles.each do |role| %>
        <%= role.name %>
      <% end %>
  </p>
<% end %>

<%= link_to 'Modifica', edit_user_path(@user) %> |
<%= link_to 'Elenco utenti', users_path %>
