<table class="orders">
  <tr>
    <th><%=t :client %></th>
    <th><%=t :number %></th>
    <th></th>
    <th><%=t :amount %></th>
  </tr>

<% @orders.each do |order| %>
  <% if order.authorized %>
    <tr class="order_authorized">
  <% else %>
    <tr>
  <% end %>
      <td><%= link_to order.user.email, user_path(order.user) %></td>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%=l order.created_at, :format => :short %></td>
      <td><%= number_to_currency(order.line_items.sum(:price), :unit => "€") %></td>
      <td><%= link_to t(:show), order %></td>
      <td><%= link_to t(:edit), edit_order_path(order) %></td>
      <td><%= link_to t(:destroy), order, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
    </tr>
<% end %>
</table>
