<p>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :file, "File" %>
  <%= f.file_field :file %>
  <%= f.check_box :remove_file %>
  <%= f.label :remove_file, "Remove file" %>
</p>
