<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%=t 'activerecord.errors', :count => @project.errors.count %>:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t('activerecord.models.institution') %><br />
    <%= f.collection_select(:institution_id, Institution.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label t('activerecord.attributes.project.start') %><br />
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label t('activerecord.attributes.project.stop') %><br />
    <%= f.date_select :stop %>
  </div>
  <div class="field">
    <%= f.label t(:price) %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= render "fileproject_fields", :f => f %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
