<h1>Listing projects</h1>

<table>
  <tr>
    <th>Ente</th>
    <th>Nome</th>
    <th>Inizio</th>
    <th>Fine</th>
    <th>Prezzo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.institution.name %></td>
    <td><%= project.name %></td>
    <td><%= project.start %></td>
    <td><%= project.stop %></td>
    <td><%= number_to_currency(project.price, :unit => "€") %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
