<h1>Elenco progetti</h1>

<table>
  <tr>
    <th>Ente</th>
    <th>Nome</th>
    <th>Inizio</th>
    <th>Fine</th>
    <th>Prezzo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.institution.name %></td>
    <td><%= project.name %></td>
    <td><%=l project.start, :format => :short %></td>
    <td><%=l project.stop, :format => :short %></td>
    <td><%= number_to_currency(project.price, :unit => "€") %></td>
    <td><%= link_to t(:show), project %></td>
    <td><%= link_to t(:edit), edit_project_path(project) %></td>
    <td><%= link_to t(:destroy), project, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_model, :model => Project.model_name.human), new_project_path %>
