<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Institution:</b>
  <%= @project.institution_id %>
</p>

<p>
  <b>Start:</b>
  <%= @project.start %>
</p>

<p>
  <b>Stop:</b>
  <%= @project.stop %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
