<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Institution:</b>
  <%= @project.institution.name %>
</p>

<p>
  <b>Start:</b>
  <%= @project.start %>
</p>

<p>
  <b>Stop:</b>
  <%= @project.stop %>
</p>

<p>
  <b>Prezzo:</b>
  <%= number_to_currency(@project.price, :unit => "€") %>
</p>

<% if !@project.file_projects.empty? %>
  <table>
    <tr>
      <th>File allegati</th>
      <th></th>
    </tr>

    <% @project.file_projects.each do |file_project| %>
      <tr>
        <td><%= file_project.name %></td>
        <% if current_user.any_role? :super_admin, :admin %>
          <td><a href="<%= file_project.file.url %>">download</a></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Non ci sono file allegati a questo progetto.</p>
<% end %>

<% if current_user.any_role? :super_admin, :admin %>
  <%= link_to 'Modifica', edit_project_path(@project) %> |
  <%= link_to 'Elenco progetti', projects_path %>
<% else %>
  <%= button_to 'Aggiungi al carrello', add_cart_path(@project) %>
<% end %>
