<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Institution:</b>
  <%= @project.institution.name %>
</p>

<p>
  <b>Start:</b>
  <%= @project.start %>
</p>

<p>
  <b>Stop:</b>
  <%= @project.stop %>
</p>

<% if !@project.file_projects.empty? %>
  <table>
    <tr>
      <th>Nome</th>
      <th>Path</th>
    </tr>

    <% @project.file_projects.each do |file_project| %>
      <tr>
        <td><%= file_project.name %></td>
        <td><a href="<%= file_project.file.url %>">download</a></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if current_user.role? :super_admin || :admin %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Elenco progetti', projects_path %>
<% else %>
  <%= button_to 'Aggiungi al carrello', add_cart_path(@project) %>
<% end %>
