<p id="notice"><%= notice %></p>

<p>
  <b><%=t :name %></b>
  <%= @project.name %>
</p>

<p>
  <b><%=t 'activerecord.models.institution' %></b>
  <%= @project.institution.name %>
</p>
<a href="/projects">prova</a>
<p>
  <b><%=t :start %></b>
  <%= @project.start %>
</p>

<p>
  <b><%=t :stop %></b>
  <%= @project.stop %>
</p>

<p>
<b><%=t :price %></b>
  <%= number_to_currency(@project.price, :unit => "€") %>
</p>

<% if current_user.any_role? :super_admin, :admin %>
  <% if @project.file %>
    <p>
      <a href="<%= @project.file.url %>"><%= @project.file.name %></a>
    </p>
  <% else %>
    <p>Non ci sono file allegati a questo progetto.</p>
  <% end %>
<% end %>

<% if current_user.any_role? :super_admin, :admin %>
  <%= link_to t(:edit), edit_project_path(@project) %> |
  <%= link_to t('model_index.projects'), projects_path %>
<% else %>
  <%= button_to 'Aggiungi al carrello', add_cart_path(@project) %>
<% end %>
