<h1>Listing file_projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>File uid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @file_projects.each do |file_project| %>
  <tr>
    <td><%= file_project.name %></td>
    <td><%= file_project.file_uid %></td>
    <td><%= link_to 'Show', file_project %></td>
    <td><%= link_to 'Edit', edit_file_project_path(file_project) %></td>
    <td><%= link_to 'Destroy', file_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New File project', new_file_project_path %>
