<!DOCTYPE html>
<html>
<head>
  <title>Stano s.a.s. Buffetti Copisteria</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <div id="user_nav">
    <div id="logo">
      <%= link_to "Dashboard", dashboard_path %>
    </div>
    <div id="user_management">
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div id='content'>
    <%= yield :javascript %>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <p>Stano S.a.s. di Stano Rita &amp; C.</p>
</div>

</body>
</html>
